/* CSS taken from http://bettermotherfuckingwebsite.com and https://thebestmotherfucking.website */

body {
  max-width: 60em;
  line-height: 1.6;
  color: #444;
  margin: 2em auto;
  font-family: Open Sans, Arial;
  font-size: 16px;
}

h1, h2, h3 {
  line-height: 1.2
}

.dining-hall-block {
  border: 1px solid rgb(0,0,0,0.2);
  box-sizing: border-box;
  display: inline-block;
  background-color: #fff;
  width: 8em;
  height: 7em;
  padding: 0.9em;
  margin: 0.5em;
  vertical-align: top;
}

.blue-background-class {
  background-color: lightblue;
}
